/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Playfair+Display:wght@600&family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-weight: 400;
}

#root {
    min-height: 100vh;
    display: flex;
    box-sizing: border-box;
    background: url('./assets/coffee-shop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
