/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-weight: 400;
}

#root {
    min-height: 100vh;
    display: flex;
    box-sizing: border-box;
}
