.home-main-container {
    /* position: relative; */
    /* left: 200px; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 85vw;
    gap: 20px;
}

.home-top-bar {
    font-size: 10px;
    padding: 5px;
    color: #FFFFFF;
}

.home-notes-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.notes-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3 3 60%;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0 0 3px #969696;
}

.notes-title-div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.card-note,
.card-notebook {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 3px;
}

#nc-title,
#nbc-title {
    word-wrap: break-word;
    font-size: 13px;
}

.scratch-div {
    flex: 1 1 40%;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 3px #969696;
}

.home-nc-div,
.nbc-div {
    height: 280px;
    width: 170px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    box-shadow: 0 0 4px #969696;
    overflow-y: hidden;
    gap: 5px;

}

.home-nc-div:hover {
    box-shadow: 0 0 3px black;
}

.note,
.new-plus,
.all-notes,
.new-ntbk,
.nbook {
    text-decoration: none;
    color: #262626;
}

#note-text,
#notebook-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 15px;
    height: 100%;
    padding: 8px;
    overflow-y:hidden;
}

#note-text-inner,
#nbc-inner {
    word-wrap: break-word;
    color: #767676;
    font-size: 13px;
    text-align: start;
    font-weight: 300;
}

.scratch-title {
    padding: 5px;
}

.scratch-body {
    height: 100%;
    padding: 3px;
}

.ta-scratch {
    padding: 5px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.home-notebook-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.notebooks-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 90%;
    height: 350px;
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 15px;
    overflow-y: hidden;
    box-shadow: 0 0 3px #969696;
}

.notebooks-title-div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
