#title-header {
    font-family: 'Playfair';
    font-size: 38px;
    font-weight: 700;
    transform: scale(1, 0.9)
}

#promo-header {
    font-size: 50px;
    font-weight: 500;
}

#promo-sub {
    font-size: 23px;
    font-weight: 300;
}

.sp-main-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.sp-header {
    position: sticky;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: white;
    z-index: 1;
    height: 60px;
}

.quill-img {
    height: 40px;
    padding-top: .4em
}

.logo-image-header {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 3px;
}

.sp-login-div {
    display: flex;
    align-self: center;
}

.sp-login-button {
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 300;
    transform: scale(1, 0.9);
}

.sp-login-button:hover {
    color: #209CEE;
}

.sp-main-body-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sp-body-signup {
    width: 19em;
    height: 55px;
    border-radius: 3px;
    background-color: #209CEE;
    border: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 16px 60px;
}

.sp-body-signup:hover {
    background-color: #38a7f0;
}

.sp-body-login {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 19px;
    text-decoration: underline;
    font-weight: 300;
}

.sp-main-body-middle {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.promo-img {
    width: 70vw;
}

.sp-middle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.sp.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.sp-h3 {
    font-weight: 500;
    letter-spacing: 1.5px;
}

.sp-h5 {
    font-size: 16px;
    font-weight: 300;
}

.shadow {
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.quotes-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.7);
    height: 220px;
}

.quotes-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: 60%;
    padding: 5px;
}

#q-text {
    font-weight: 300;
}

#q-author {
    font-size: 16px;
}

#quote-marks {
    width: 60px;
}

.sp-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
}

.footer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#gh-icon {
    width: 25px;
    height: 25px;
}

.creator-links {
    text-decoration: none;
    color: black;
}

.sp-footer-links {
    padding-top: 25px;
}

.sp-sub-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-top: 2px solid rgb(50, 50, 50);
}

#sp-sf-outer {
    padding: 10px;
}

.legal {
    font-size: 10px;
    color:rgba(120, 120, 120, 0.8);
}
