#title-header {
    font-family: 'Playfair';
    font-size: 38px;
    font-weight: 700;
    transform: scale(1, 0.9)
}

#promo-header {
    font-size: 50px;
    font-weight: 500;
}

#promo-sub {
    font-size: 23px;
    font-weight: 300;
}

.sp-main-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    padding-right: 15px;
}

.sp-header {
    display: flex;
    justify-content: space-between;
}

.cat-img {
    height: 50px;
    padding-top: .4em
}

.logo-image-header {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 3px;
}

.sp-login-div {
    display: flex;
    align-self: center;
}

.sp-login-button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sp-login-button:hover {
    color: #209CEE;
}

.sp-main-body-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sp-body-signup {
    width: 22vw;
    height: 12vh;
    border-radius: 3px;
    background-color: #209CEE;
    border: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.sp-body-login {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 19px;
    text-decoration: underline;
    font-weight: 300;
}
