.outer-notes {
    display: flex;
    gap: 10px;
    width: 100vw;
    padding: 10px;
    max-height: 100vh;
}

.notes-main-container {
    min-width: 420px;
    word-wrap: break-word;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px #262626;
}

.notes-inner-container {
    display: flex;
    gap: 10px;
    width: auto;
    justify-content: center;
}

.column-notes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
    background-color: #FFFFFF;
}

.header-note {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    height: 100px;
    gap: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.n-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 5px;
    width: 100%;
}

#n-h1 {
    font-weight: 400;
}

#n-count {
    padding: 7px 5px 5px 7px;
    color: #969696;
    font-size: 13px;
    font-weight: 300;
}

.fa-file-lines {
    font-size: 18px;
}

.notes-card {
    word-wrap: break-word;
    padding: 6px;
    height: 140px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

div.notes-card:hover {
    box-shadow: 2px 2px 2px #868686, 0 0 2px #868686;
}

.notes-title {
    font-size: 14px;
}

.notes-content {
    font-size: 13px;
    color: gray;
    padding: 8px;
}

.edit-column-notes {
    width: 70%;
    max-height: 100%;
}

.edit-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px #262626;
}

.edit-title {
    width: 100%;
    height: auto;
    font-size: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 10px;
}

.edit-body-div {
    height: 76.5vh;
}

.edit-body {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

#edit-btn {
    height: 40px;
    width: 120px;
    background-color: #209CEE;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#del-btn {
    height: 40px;
    width: 120px;
    background-color: #209CEE;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#del-btn:hover,
#edit-btn:hover {
    background-color: #38a7f0;
}

#del-link {
    text-decoration: none;
    color: white;
}

.edit-btns-div {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 15px;
    align-items: center;
    max-height: 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}

#nnl {
    text-decoration: none;
}

.newnote-nb {
    font-size: 12px;
    color: #262626;
}

.newnote-nb:hover {
    color: #209CEE;
    cursor: pointer;
}

#n-logo,
#n-nb-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 90%;
}

.fa-file-lines {
    font-size: 14px;
}

.delete-note-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    border-radius: 3px;
    padding: 10px;
    gap: 20px;
}

.delete-buttons {
    display: flex;
    gap: 10px;
}

#form-data {
    height: 100%;
}

.e-img {
    width: 250px;
    height: 250px;
}

.empty-notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-text {
    text-align: center;
}

span {
    color: #209CEE;
}

span:hover {
    color: #45acf1;
}

.sp-click {
    cursor: pointer;
}

.blank-div {
    border-radius: 5px;
    box-shadow: 0 0 5px #262626;
}

.note-tag-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.tag-icons-container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.tag-icons {
    background-color: #209CEE;
    min-width: fit-content;
    max-height: 20px;
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
    font-size: 12px;
}

#t-card {
    font-size: 13px;
}

.edit-tag-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.edit-tag-btn:hover {
    color: #209CEE;
}

.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-sc {
    vertical-align: middle;
}

.icon-a {
    font-size: 16px;
    z-index: 10;
}

.icon-b {
    font-size: 12px;
    color: #209CEE;
}
