.notebooks-main-container {
   padding: 10px;
   width: 100vw;
}

.notebooks-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px #262626;
}

.length-new-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 0 8px 7px 3px;
}

.length-nb {
    padding: 7px 5px 5px 7px;
    color: #969696;
    font-size: 14px;
    font-weight: 300;
}

.notebooks-table {
    display: flex;
    gap: 200px;
}

.notebooks-header-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notebooks-header {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.notebooks-body-rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-nb {
    display: flex;
}

.new-nb-btn {
    background-color: transparent;
    border: none;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.one-nb-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    padding: 5px;
}

#new-nb-link {
    text-decoration: none;
    display: flex;
    gap: 5px;
}

#t-header,
#t-created {
    border-bottom:1px solid rgba(128, 128, 128, 0.3);
}

.edit-nb-main-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 20px;
    padding: 5px;
}

#cn-input {
    height: 40px;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #209CEE;
    outline: none;
}

.edit-nb-button {
    align-self: flex-end;
}

.one-header-note-nb {
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    min-height: 100px;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    background-color: white;
}

#nb-h1 {
    font-size: 18px;
    word-wrap:break-word;
    width: 100%;
}

.nb-delete-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    padding: 5px;
}

.nb-ed-mod,
.nb-del-mod {
    font-size: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nb-del-mod:hover,
.nb-ed-mod:hover {
    color: #209CEE;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid gray;
}

th {
    font-size: 13px;
}

td {
    padding: 10px;
    width: 250px;
    text-align: center;
}

/* td:first-child {
    text-align: left;
} */

tr:nth-child(even) {
    background-color: #464646;
}

.nb-one-link {
    text-decoration: none;
}

.nb-one-link:hover {
    color: #209CEE;
}

.td-dark {
    color: white;
}

.td-light {
    color: black;
}

.table-book {
    font-size: 13px;
    color: #209CEE;
}

.tr-light:nth-child(even) {
    background-color: #969696;
}

.nb-contents {
    display: flex;
}
